header {
  background-color: Moccasin
}

main {
  background-color: AntiqueWhite
}

footer {
  background-color: Moccasin
}



main p {
  color: NavajoWhite
}

header p {
  color: SandyBrown
}

footer p {
  color: SandyBrown
}



header a {
  color: Peru
  font-size: 18 px
}

footer a {
  color: Peru
  font-size: 18 px
}

main a {
  background-color: SandyBrown
  color: NavajoWhite
  font-size: 18 px
  border: 1 px solid Peru
  border-radius: 9 px
  padding: 8 px
  margin: 41 px
}



title {
  color: SandyBrown
}
    
   

h6 {
  color: SandyBrown
}

h5 {
  color: SandyBrown
}
