header {
  background-color: Moccasin
}

main {
  background-color: AntiqueWhite
}

footer {
  background-color: Moccasin
}



main p {
  color: NavajoWhite
}

header p {
  color: SandyBrown
}

footer p {
  color: SandyBrown
}

a {
  color: Peru
  font-size: 18 px
}
