header {
  background-color: LightBlue
}

main {
  background-color: LightCyan
}

footer {
  background-color: LightBlue
}



main p {
  color: SkyBlue
}

header p {
  color: SteelBlue
}

footer p {
  color: SteelBlue
}



header a {
  color: SkyBlue
  font-size: 18 px
}

footer a {
  color: Peru
  font-size: 18 px
}

main a {
  background-color: SteelBlue
  color: LightBlue
  font-size: 18 px
  border: 1 px solid Peru
  border-radius: 9 px
  padding: 8 px
  margin: 41 px
}



title {
  color: SteelBlue
}
    
   

h6 {
  color: SteelBlue
}

h5 {
  color: SteelBlue
}
